#root {
  &:before {
    @include pseudo-bg;
    height: 150px;
    z-index: 1;
    background-image: linear-gradient(to bottom, #333333, transparent);
  }
}

.hero-home {
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.votes {
  padding-top: 20px;
}
.cards-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}